@import "https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap";
:root {
  --primary: orange;
  --white: #080b10;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  transition: 0.2s linear;
}
body {
  color: #fff;
}
section {
  padding: 5rem 6%;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 5rem;
}
.heading {
  font-size: 4rem;
  color: var(--primary);
  text-align: center;
  font-weight: bolder;
  margin-bottom: 2rem;
}
.heading2 {
  font-size: 3rem;
  color: #000;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 2rem;
}
.btn {
  font-size: 1.7rem;
  margin-top: 1rem;
  display: inline-block;
  background: var(--primary);
  color: var(--white);
  box-shadow: var(--box-shadow);
  padding: 0.7rem 3rem;
  border-radius: 5rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.btn::before,
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 0;
  background: #d14b5d;
  z-index: -1;
  transition: 0.3s linear;
}
.btn::before {
  left: 0;
}
.btn::after {
  right: 0;
}
.btn:hover:before,
.btn:hover::after {
  width: 100%;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #211f20;
  transition: padding 0.3s ease, top 0.3s ease;
  border-bottom: 3px solid orange;
  height: 120px;
}
.header.active {
  padding: 1rem 9%;
  box-shadow: var(--box-shadow);
  top: 0;
}
.header .logo {
  font-size: 1.6rem;
  font-weight: bolder;
  color: var(--white);
  margin-right: 150px;
}
.header .logo img {
  max-height: 120px;
  padding: 5px;
}
.header .logo i {
  padding-right: 0.5rem;
  color: var(--primary);
}
.header .navbar {
  display: flex;
  align-items: center;
}
.header .navbar a {
  font-size: 1.6rem;
  color: #fff;
  margin: 0 1rem;
  transition: color 0.3s ease;
}
.header .navbar a:hover,
.header .navbar a.active {
  color: var(--primary);
}
.social-buttons {
  display: flex;
  align-items: center;
  margin-left: 150px;
}
.social-button {
  margin-left: 15px;
  color: #fff;
  font-size: 2.5rem;
  text-decoration: none;
  transition: color 0.3s ease;
}
.social-button:hover {
  color: orange;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
}
.logo {
  max-width: 200px;
}
.navbar {
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  .logo {
    max-width: 100%;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar {
    flex-direction: column;
    gap: 10px;
  }
  .social-buttons {
    margin-left: 10px;
    margin-right: 10px;
  }
  .social-button {
    margin-left: 15px;
    color: #fff;
    font-size: 2.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
  }
}
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inicio {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-container1 {
  width: 114%;
  height: 118%;
}
.swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide-text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  background-color: transparent;
  padding: 0;
  color: #fff;
  opacity: 1;
}
.slide-text h1 {
  font-size: 4.6rem;
  margin-bottom: 10px;
  color: orange;
}
.slide-text p {
  font-size: 2.8rem;
  line-height: 1.4;
  color: #fff;
}
.swiper-slide .img img {
  display: block;
  width: 100%;
}
.sobre .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}
.sobre .row .content {
  flex: 1 1 40rem;
}
.sobre .row .content span {
  font-size: 2.5rem;
  color: orange;
}
.sobre .row .content h3 {
  font-size: 3rem;
  color: #000;
  padding: 1rem 0;
}
.sobre .row .content p {
  font-size: 1.6rem;
  color: #000;
  padding: 0;
  line-height: 2;
}
.sobre .row .content ul li {
  font-size: 1.6rem;
  color: #000;
  padding-top: 1.4rem;
}
.sobre .row .content ul li i {
  color: orange;
  padding-right: 1rem;
}
.sobre .row .content .btn {
  margin: 2rem 0;
  font-size: 1.7rem;
  display: inline-block;
  background: #000;
  color: #fff;
  box-shadow: var(--box-shadow);
  padding: 0.7rem 3rem;
  border-radius: 5rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: background 0.3s ease, color 0.3s ease;
}
.sobre .row .content .btn::before,
.sobre .row .content .btn::after {
  background: orange;
}
.sobre .row .image {
  flex: 1 1 30rem;
}
.sobre .row .image img {
  width: 100%;
  height: 100%;
}
.produtos .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 0;
}
.produtos .box-container .box {
  height: 25rem;
  flex: 1 1 30rem;
  border: 0.2rem solid var(--black);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}
.produtos .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.produtos .box-container .box .content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  padding: 1rem;
  padding-top: 4rem;
  text-align: center;
}
.produtos .box-container .box:hover .content {
  transform: translate(-50%, -50%) scale(1);
}
.produtos .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #333;
}
.produtos .box-container .box .content p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}
.produtos .box-container .box .btn {
  margin: 1rem 0;
  font-size: 1.7rem;
  display: inline-block;
  background: #000;
  color: #fff;
  box-shadow: var(--box-shadow);
  padding: 0.7rem 3rem;
  border-radius: 5rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: background 0.3s ease, color 0.3s ease;
}
.produtos .box-container .box .btn::before,
.produtos .box-container .box .btn::after {
  background: orange;
}
.servicos .box-container {
  width: 100%;
  padding: auto;
}
.servicos .box-container .swiper-slide {
  display: flex;
  justify-content: center;
}
.servicos .box-container .box {
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #f5f5f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 0.7rem;
  border: 0.3rem solid #d9d9d9;
}
.servicos .box-container .box h3 {
  font-size: 2rem;
  color: orange;
  margin-top: 1.5rem;
}
.servicos .box-container .box .price {
  font-size: 6rem;
  padding-top: 1rem;
  font-weight: bolder;
}
.servicos .box-container .box .price span {
  font-size: 2rem;
  font-weight: 400;
}
.servicos .box-container .box .month {
  font-size: 2rem;
  color: #000;
}
.servicos .box-container .box .list {
  padding: 1rem 0;
}
.servicos .box-container .box .list p {
  font-size: 1.7rem;
  color: #000;
  line-height: 2;
}
.servicos .box-container .box .list p i {
  color: var(--primary);
  padding-right: 0.5rem;
}
.servicos .box-container .box .list p i.fa-times {
  color: var(--white);
}
.servicos .box-container .box .btn {
  font-size: 1.7rem;
  margin-top: 1rem;
  display: inline-block;
  background: #000;
  color: #fff;
  box-shadow: var(--box-shadow);
  padding: 0.7rem 3rem;
  border-radius: 5rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.servicos .box-container .box .btn::before,
.servicos .box-container .box .btn::after {
  background: orange;
}
@media (max-width: 767px) {
  .servicos .box-container {
    width: 100%;
    padding: 0;
  }
  .servicos .box-container .swiper-slide {
    display: block;
  }
}
.localizacao {
  max-width: 900px;
  margin: auto;
  padding: 32px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-content: center;
  margin-left: 170px;
}
.title-location {
  font-size: 40px;
  color: orange;
  margin-bottom: 0;
  text-align: center;
}
.description-location h3 {
  color: orange;
  font-size: 16px;
  text-align: center;
}
.description-location {
  color: #1d1e56;
  font-size: 12.3px;
  text-align: center;
}
.location {
  color: #000;
  font-size: 20px;
  text-align: center;
}
.localizacao-box {
  width: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.localizacao .btn {
  font-size: 1.7rem;
  display: inline-block;
  background: #000;
  color: #fff;
  box-shadow: var(--box-shadow);
  padding: 0.7rem 3rem;
  border-radius: 5rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: background 0.3s ease, color 0.3s ease;
}
.localizacao .btn::before,
.localizacao .btn::after {
  background: orange;
}
@media (max-width: 767px) {
  .localizacao {
    grid-template-columns: 1fr;
    margin-left: 0;
  }
  .localizacao-box {
    width: 100%;
    order: 3;
  }
  .title-location {
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .localizacao {
    grid-template-columns: 1fr 1fr;
  }
  .localizacao-box {
    width: 130%;
    order: 2;
  }
  .title-location {
    margin-bottom: 0;
  }
}
.contato {
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
  text-align: center;
}
.contato form {
  width: 85%;
  margin: 0 auto;
}
.contato form .inputBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contato form .inputBox input,
.contato form textarea {
  height: 4rem;
  width: 49%;
  background: #222;
  color: #fff;
  font-size: 2rem;
  padding: 0 1rem;
  margin: 1rem 0;
  border: none;
}
.contato form .inputBox input:focus,
.contato form textarea:focus {
  background: #383838;
}
.contato form textarea {
  height: 20rem;
  padding: 1rem;
  width: 100%;
  resize: none;
}
.contato .btn {
  font-size: 1.7rem;
  display: inline-block;
  background: orange;
  color: #fff;
  box-shadow: var(--box-shadow);
  padding: 0.7rem 3rem;
  border-radius: 5rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: background 0.3s ease, color 0.3s ease;
}
.contato .btn::before,
.contato .btn::after {
  background: #000;
}
.rodape .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.rodape .box-container .box h2 {
  font-size: 1.6rem;
  text-align: center;
  padding: 1rem 0;
  color: #1d1e56;
}
.rodape .box-container .box h1 {
  font-size: 2.8rem;
  text-align: center;
  padding: 1rem 0;
  color: #1d1e56;
}
.rodape .box-container .box p {
  font-size: 2rem;
  padding: 1rem 0;
  text-align: center;
  line-height: 2;
  color: orange;
}
.rodape .box-container .box a {
  display: block;
  font-size: 1.4rem;
  padding: 1rem 0;
  text-align: center;
  color: #000;
}
.rodape .box-container .box i {
  color: var(--primary);
  padding-right: 0.5rem;
  font: 2.8rem;
  text-align: center;
}
.rodape .box-container .box a:hover {
  color: var(--primary);
  text-align: center;
}
.rodape .box-container .box a:hover i {
  padding-right: 2rem;
  text-align: center;
}
.rodape .share {
  padding-top: 2rem;
  text-align: center;
}
.rodape .share a {
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  text-align: center;
  line-height: 5rem;
  color: var(--primary);
  border: 0.1rem solid var(--primary);
  margin: 0.3rem;
  border-radius: 50%;
}
.rodape .share a:hover {
  color: var(--white);
  text-align: center;
  background: var(--primary);
  transform: rotate(360deg);
}
.rodape .credit {
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
  font-size: 2rem;
  margin-top: 2.5rem;
  padding: 1rem;
  padding-top: 2rem;
  text-align: center;
  color: var(--white);
}
.rodape .credit span {
  color: var(--primary);
  text-align: center;
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 768px) {
  #menu {
    display: inline-block;
  }
  .fa-times {
    transform: rotate(180deg);
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #040608;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    display: block;
    margin: 2rem;
  }
  .inicio {
    background-position: left;
  }
  .inicio .content h3 {
    font-size: 5rem;
  }
  .localizacao .box-container .box .image {
    height: 56rem;
  }
  .localizacao .box-container .box .image img {
    width: 90%;
    height: 90%;
    object-fit: cover;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .inicio .content h3 {
    font-size: 4rem;
  }
  .localizacao .box-container .box .image {
    height: 38rem;
  }
}
